body {
    font-family: 'Ubuntu';
}

.logo {
    width: 48rem;
    margin-bottom: -4rem;
}

.fpcap-orange {
    background-color: #ee4d2e !important;
}

.fpcap-orange-text {
    color: #ee4d2e !important;
}